// motions for person START
.hiphop {
    .head {
        animation: bounceHead 1s infinite;
    }
}
.pop {
    &.body {
        max-height: 75px;
        .head{
            flex-shrink: 0;
        }
    }
    .legs{
        animation: bounceLegs 0.5s infinite;
    }
}
.house {
    .arms{
        animation: bounceArms 4s infinite;
    }
}
// motions for person END
  
// person body START
.male * {
    background-color: rgb(107, 107, 192);
}
.female * {
    background-color: violet;
}
.body{
    display: flex;
    flex-direction: column;
    align-items: center;
    & + & {
        margin-left: 5px;
    }
}
.head {
    border: 1px solid black;
    border-radius: 50%;
    width: 15px;
    height: 15px;
}
.trunk {
    border: 1px solid black;
    width: 25px;
    height: 35px;
    display: flex;
    justify-content: center;
}

.legs{
    border: 1px solid black;
    width: 15px;
    height: 25px;
}
.arms {
    margin-top: 2px;
    border: 1px solid black;
    height: 30px;
    width: 10px;
    overflow: overlay; 
}
// person body END

// animation for body START
@keyframes bounceArms {
    100%{
        transform: rotate(3600deg);
    }
}
@keyframes bounceLegs {
    from {
        margin-bottom: 0px;
    }
    50%{
        margin-bottom: 10px;
    }
}
@keyframes bounceHead {
    from {
        margin-left: -2px;
    }
    50% {
        margin-left: 6px;
    }
}
// animation for body END
